
/*Activity 9*/
.state {
    fill: #bdc7b3; 
    stroke: #1b1a1a;
    stroke-width: 0.35px;
}

.map {
    border: thin solid #1b1a1a;
    margin: 10px 0 0 20px;
    background:#d5dffc;
}

/* text style - from activity 8, just for safe-keeping*/
.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.9em;
}

.title {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}